.container {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}


.navbar-header {
    color: antiquewhite;
}

.label_conv {
    color: black;
}

.row .cont {
    margin-top: 20px;
}

.submit_button {
    margin-top:40px;
}

.row {
    margin-top:20px;
}

.form_container {
    border-style: dotted;
    border-width: 1px;
}

.submit_button {
    background-color: #343a40;
    font-weight: bold;
    color: antiquewhite;
}